
*.pyc

tests/.cache/v/cache/lastfailed
.idea/codeStyles/codeStyleConfig.xml
.idea/dictionaries/kip.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/phanpy.iml
.idea/vcs.xml
.idea/workspace.xml
